<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ko">
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Home</div>
                <a class="nav-link" href="/">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <div class="sb-sidenav-menu-heading">Flow</div>
                <a class="nav-link" href="/flow">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Data Flow
                </a>
                <a class="nav-link" href="/prediction">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    Prediction
                </a>

                <div class="sb-sidenav-menu-heading">Account</div>
                <a class="nav-link" href="/accnt">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    My Account
                </a>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>
</html>