<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Coin Analyze</title>
    <th:block th:include="common/include-link"></th:block>
</head>
<body class="sb-nav-fixed">
    <nav th:replace="layout/navigator"></nav>
    <div id="layoutSidenav">
        <div th:replace="layout/sidebar"></div>
        <div id="layoutSidenav_content">
            flow
            <th:block th:replace="layout/footer :: footer" />
        </div>
    </div>
    <th:block th:include="common/include-script" />
</body>
</html>