<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.2/echarts.min.js" integrity="sha512-t9GZbGKCH5MuYUFsq5AdrhllT0kdnc2fNMizKDgLXBBXgHP2dXxjRPOzYJauAXW9OXLlSYELUqWD30k7cb0Mkg==" crossorigin="anonymous"></script>

<script src="../js/index.js"></script>
<script>
</script>
</head>
<body>
<div class="contents">
	<div class="box" style="">
		<div>
			<select name="selectCoin" id="selectCoin" onchange="selectCoin(this)">
				<option value="KRW-BTC" selected>비트코인</option>
				<option value="KRW-ETH">이더리움</option>
				<option value="KRW-NEO">네오</option>
				<option value="KRW-MTL">메탈</option>
				<option value="KRW-LTC">라이트코인</option>
				<option value="KRW-XRP">리플</option>
				<option value="KRW-ETC">이더리움클래식</option>
				<option value="KRW-OMG">오미세고</option>
				<option value="KRW-SNT">스테이터스네트워크토큰</option>
				<option value="KRW-WAVES">웨이브</option>
				<option value="KRW-XEM">넴</option>
				<option value="KRW-QTUM">퀸텀</option>
				<option value="KRW-LSK">리스크</option>
				<option value="KRW-STEEM">스팀</option>
				<option value="KRW-XLM">스텔라루멘</option>
				<option value="KRW-ARDR">아더</option>
				<option value="KRW-KMD">코모도</option>
				<option value="KRW-ARK">아크</option>
				<option value="KRW-STORJ">스토리지</option>
				<option value="KRW-GRS">그로스톨코인</option>
				<option value="KRW-REP">어거</option>
				<option value="KRW-EMC2">아인스타이늄</option>
				<option value="KRW-ADA">에이다</option>
				<option value="KRW-SBD">스팀달러</option>
				<option value="KRW-POWR">파워렛저</option>
				<option value="KRW-BTG">비트코인골드</option>
				<option value="KRW-ICX">아이콘</option>
				<option value="KRW-EOS">이오스</option>
				<option value="KRW-TRX">트론</option>
				<option value="KRW-SC">시아코인</option>
			</select>
		</div>
		<div id="lineChart" style="width:850px;height:700px;left:50px;top:50px;"></div>
	</div>
</div>
</body>
</html>