<html>
<head>
<meta charset="UTF-8">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.0.2/echarts.min.js" integrity="sha512-t9GZbGKCH5MuYUFsq5AdrhllT0kdnc2fNMizKDgLXBBXgHP2dXxjRPOzYJauAXW9OXLlSYELUqWD30k7cb0Mkg==" crossorigin="anonymous"></script>

<script src="../js/index.js"></script>
</head>
<body>
<div class="contents">
	<div class="box">
		<div id="lineChart" style="width:850px;height:700px;left:50px;top:50px;"></div>
	</div>
</div>
</body>
</html>